@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.explore {
  margin-top: 1rem;
  background-color: #5f6921;
  width: 100%;
  height: 600px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;

    .flower-icon, .plant-icon, .plant-second-icon {
      font-size: 4.5rem;
      font-weight: 700;
      color: white;
      display: flex;
      align-items: center;
    }

    .plant-icon {
      font-size: 5rem;
    }

    .plant-second-icon {
      margin-top: 0.5rem;
    }

    .flower-icon img, .plant-icon img, .plant-second-icon img {
      margin-left: 1rem;
    }
  }

  .explore-content {
    display: flex;
    justify-content: space-between;

    .explore-cards, .card-second-video {
      width: 48%; // Adjust width to allow for spacing and borders
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .explore-cards {
      background-color: #e7e5d9;
      padding: 2rem;

      .explore-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-author {
          display: flex;
          align-items: center;
        }
      }
    }

    .card-second-video {
      img {
        width: 100%;
        height: auto;
  }
}
}
}
