@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.explore {
  margin-top: 1rem;
  background-color:$explore-color;
  width: 100%;
  height: 600px;

  &-container {
    @include Flex ($direction:column,$gap:2rem);
    padding: 3rem;

    .flower-icon, .plant-icon, .plant-second-icon {
      font-size: 4.5rem;
      font-weight: 700;
      color: $hover-word-white;
      @include Flex($items:center);
     
    }

    .plant-icon {
      font-size: 5rem;
    }

    .plant-second-icon {
      margin-top: 1rem;     
    }

    .flower-icon img, .plant-icon img, .plant-second-icon img {
      margin-left: 1rem;      
    }
  }

  .explore-content {
    @include Flex ($justify:space-between);

    .explore-cards, .card-second-video {
      width: 48%;
      @include Flex ($direction:column);
      gap: 2rem;
    }

    .explore-cards {
      background-color: #e7e5d9;
      padding: 2rem;

      .explore-card {
        @include Flex ($direction:column);
        gap: 2rem;

        &-title {
          h3 {
            font-size: 3rem;
            font-weight: 600;
          }
        }
        
        &-author {
          @include Flex($items:center,$gap:1rem);
          margin-top: 0.4rem;
        }
      }
    }

    .card-second-video {
      position: relative;

      img {
        width: 100%;
        height: auto;
        cursor: pointer; 

       
      }

      a {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: $hover-word-white; 
        transition: all 0.25s ease-in-out;

      }
    }
  }
}
