@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.cards-title{
    font-weight: bolder;
    padding: 2rem;
    margin-left: 1.5rem;
    font-size: 25px;
   
}
.cards-container {
    .cards {
      @include Flex($justify: space-between,$gap:15px);
      
      flex-wrap: nowrap;
      padding: 3rem;
  
      .card {
        position: relative;
        flex: 1 1 calc(33.33% - 10px); 
        margin-bottom: 3rem;
  
        img {
            height: auto;
          display: block;
          width: 100%;
          
        }
  
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          @include Flex($justify:center,$items:end);
          opacity: 0;
          transition: opacity 0.5s;
          top: 0;
          left: 0;
          gap: 12px;
          padding-bottom: 12px;
  
          i {
            position: relative;
            transition: transform 0.3s;
            color: white;
            font-size: 25px;
            
          }
  
          .count {
            color: white;
            font-size: 16px;
            margin-left: 5px;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
          }
        }
  
        &:hover {
          .overlay {
            opacity: 1;
          }
  
          .overlay i {
            transform: translateY(-12px);
          }
  
          .overlay .count {
            opacity: 1;
            transform: translateY(-12px);
          }
        }
  
        &:first-child {
          margin-left: 0;
        }
  
        &:nth-child(3n + 1) {
          margin-left: 0;
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  