$body-bg-color: rgba(246, 243, 237, 1);
$hover-color: rgb(94,104,33);
$line-color:black;
$hover-word: #808080;
$a-hover-color:#333;
$hover-word-white: white;
$font-size-word: 16px;
$video-font-weight-word:bold;
$video-font-weight-word2: bolder;
$footer-top-color:#7c8c42;
$icon-color: #000;
$icon-hover-color: #ff0000;
$original-price-color: #888;
$discounted-price-color: #000;
$bodyColor: #f6f3ed;
$explore-color:#5f6921;
$sidebar-color:#fff;
$gray-color-word:gray;


