$body-color: rgba(246, 243, 237, 1);
$hover-color: rgb(94,104,33);
$line-color:black;
$hover-word: #808080;
$a-hover-color:#333;
$hover-word-white: white;
$font-size-word: 16px;
$video-font-weight-word:bold;
$video-font-weight-word2: bolder;
