@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.contact-title {
    font-weight: 500;
    font-size: 30px;
    color: $hover-color;
    padding: 2rem;
  }
  
  .care {
    padding: 2rem;
    .container {
        @include Flex ($wrap:flex-wrap,$gap:4rem);
      .care-title,
      .jump-container {
        width: 50%;
      }
  
      .jump-container {
        @include Flex ($direction:column,$items:flex-start);
       
  
        .jump-box {
          width: 100%;
          padding: 15px 20px;
          background-color: rgba(94, 104, 33, 0.1);
          @include Flex ($items:center);
  
          .jump-title {
            color: $line-color;
            font-size: 1.2rem;
            margin-right: 10px;
          }
  
          .jump-links {
            @include Flex ($wrap:flex-wrap,$gap:5px);
  
            .jump-link {
              font-size: 1rem;
              text-decoration: none;
              color: $gray-color-word;
  
              &.green {
                color: $explore-color;
              }
  
              &.gray {
                color: $gray-color-word;
              }
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
  
        .green-line {
            margin-top: 30px;
            margin-left: 10%;
          width: 90%;
          height: 2px;
          background-color: $explore-color;
        
        }
  
        .plant-list {
          width: 100%;
          padding: 1rem;
  
          .plant-item {
            @include Flex ($items:center);
            padding: 1rem 0;
            border-bottom: 1px solid #e7e5d9;
  
            &:last-child {
              border-bottom: none;
            }
  
            .plant-icon {
              width: 3rem;
              height: 4rem;
              background-color: $explore-color;
             @include Flex ($justify:center,$items:center);
              margin-left: -1rem;
              color: $sidebar-color;
              font-size: 2rem;
              font-weight: bold;
              margin-right: 2rem;
            }
  
            .plant-name {
              font-size: 2rem;
              font-weight: 500;
              color: $line-color;
  
              &:hover {
                color: $explore-color;
              }
            }
  
            .plant-name-m {
                color: $line-color;
              margin-left: 3rem;
              font-size: 2rem;
              font-weight: 500;
              
  
              &:hover {
                color: $explore-color;
              }
            }
          }
        }
      }
  
      .care-title {
        h1 {
          font-size: 68px;
          margin-bottom: 1rem;
        }
  
        p {
          font-size: 18px;
          color: gray;
          font-weight: bold;
        }
      }
  
      .jump-container-img {
        position: relative;
        width: 40%;
        height: 40%;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
         
        }
      }
  
      .message-button {
        margin: 1.5rem 0 1rem;
        background-color: $hover-color;
        color: $hover-word-white;
        border: none;
        cursor: pointer;
        width: 150px;
        height: 40px;
        
      }
    }
  }
  
  .contact-info1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3rem;
    
    .left-section {
      h1 {
        font-size: 48px;
        font-weight: bold;
      }
    }
  
    .right-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 60%;
  
      .contact-details {
        flex-grow: 1;
        padding-left: 1rem;
  
        .contact-detail {
          display: flex;
          align-items: flex-start;
          margin-bottom: 3rem;
          margin-left: -10rem;
  
          strong {
            width: 10rem;
            font-weight: bold;
          }
  
          p {
            margin: 0;
            font-size: 1rem;
            color: #666;
          }
        }
      }
  
      .contact-person {
        p {
          font-size: 1.1rem;
          color: black;
        }
      }
    }
  }
  