@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 243, 237);
}

.cards-title {
  font-weight: bolder;
  padding: 2rem;
  margin-left: 1.5rem;
  font-size: 25px;
}

.cards-container .cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 3rem;
}
.cards-container .cards .card {
  position: relative;
  flex: 1 1 calc(33.33% - 10px);
  margin-bottom: 3rem;
}
.cards-container .cards .card img {
  height: auto;
  display: block;
  width: 100%;
}
.cards-container .cards .card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: opacity 0.5s;
  top: 0;
  left: 0;
  gap: 12px;
  padding-bottom: 12px;
}
.cards-container .cards .card .overlay i {
  position: relative;
  transition: transform 0.3s;
  color: white;
  font-size: 25px;
}
.cards-container .cards .card .overlay .count {
  color: white;
  font-size: 16px;
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.cards-container .cards .card:hover .overlay {
  opacity: 1;
}
.cards-container .cards .card:hover .overlay i {
  transform: translateY(-12px);
}
.cards-container .cards .card:hover .overlay .count {
  opacity: 1;
  transform: translateY(-12px);
}
.cards-container .cards .card:first-child {
  margin-left: 0;
}
.cards-container .cards .card:nth-child(3n+1) {
  margin-left: 0;
}
.cards-container .cards .card:last-child {
  margin-right: 0;
}

.site-header {
  margin-top: 2rem;
}
.site-header-logo {
  display: flex;
  align-items: center;
}
.site-header-logo img {
  margin-right: 90px;
  height: 40px;
}
.site-header-logo span {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.site-header-actions {
  display: flex;
  align-items: center;
}
.site-header-actions a {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
  text-decoration: none;
}
.site-header-actions a i {
  margin-right: 6px;
}
.site-header-actions a:hover {
  color: #808080;
}
.site-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.site-header-nav ul {
  display: flex;
  list-style: none;
}
.site-header-nav ul li {
  position: relative;
  padding: 2% 0;
  margin-right: 22px;
}
.site-header-nav ul li a {
  font-size: 18px;
  transition: color 0.3s;
  text-decoration: none;
  color: #333;
}
.site-header-nav ul li a:hover {
  color: rgb(94, 104, 33);
}
.site-header-nav ul li.dropdown {
  display: block;
}
.site-header-nav ul li.dropdown .dropdown-menu {
  display: flex;
  display: none;
  top: 50%;
  margin-top: 25px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid white;
  z-index: 1;
  gap: 90px;
  position: absolute;
  width: 1350px;
  height: 160px;
}
.site-header-nav ul li.dropdown .dropdown-menu .dropdown-category {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 33px;
}
.site-header-nav ul li.dropdown .dropdown-menu .dropdown-category img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.site-header-nav ul li.dropdown .dropdown-menu .dropdown-category p {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 7px;
}
.site-header-nav ul li.dropdown .dropdown-menu .dropdown-category span {
  font-size: 16px;
  color: #777;
  font-weight: 500;
}
.site-header-nav ul li.dropdown .dropdown-menu .dropdown-category:hover img {
  transform: scale(1.1);
}
.site-header-nav ul li.dropdown:hover .dropdown-menu {
  display: flex;
}
.site-header hr {
  background: rgb(94, 104, 33);
  margin: 25px 0;
  margin-left: 22px;
  margin-right: 22px;
  border: 0;
  height: 1px;
}

.custom-menu-cards .custom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.custom-menu-cards .custom-menu .custom-category {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 4rem;
  font-size: 50px;
  width: 30%;
}
.custom-menu-cards .custom-menu .custom-cards {
  width: 70%;
  height: 85%;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider {
  position: relative;
  width: 95%;
  height: 90%;
  z-index: 1;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  text-align: center;
  font-size: 15px;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 600px;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img .custom-text-overlay {
  bottom: 4rem;
  left: 4rem;
  position: absolute;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img .custom-text-overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img .custom-text-overlay p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.836);
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img .custom-text-overlay button {
  padding: 0.5rem 1rem;
  background-color: rgb(94, 104, 33);
  color: white;
  border: none;
  cursor: pointer;
  width: 170px;
  height: 40px;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-wrapper .swiper-slide .custom-slider-img .custom-text-overlay button:hover {
  background-color: rgb(89, 99, 28);
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-next {
  right: 10px;
  color: white;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-prev {
  left: 10px;
  color: white;
}
.custom-menu-cards .custom-menu .custom-cards .custom-card-slider .swiper-page {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.custom-hr {
  border: 0;
  height: 2px;
  background: rgb(94, 104, 33);
  margin: 20px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.video-title {
  font-weight: bolder;
  font-size: 30px;
  padding-left: 6rem;
  margin-top: 5rem;
}

.plant-video-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 6rem;
  width: 100%;
}
.plant-video-section .plant-video-card {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
}
.plant-video-section .plant-video-card video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.plant-video-section .plant-video-card .video-label {
  padding: 3px 7px;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 25px;
  color: white;
  position: absolute;
  bottom: 23px;
  left: 15px;
}
.plant-video-section .plant-video-card .video-label p {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 17px;
}
.plant-video-section .plant-video-card .video-label h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}
.plant-video-section .plant-video-card .video-label h5 {
  font-size: 17px;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */